.ranking-container {
    max-width: 800px;
    margin: 30px auto;
    padding: 0 20px;
}

.filter-row {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

select {
    padding: 7px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.btn-filter {
    padding: 8px 20px;
    background: #4a90d9;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-filter:hover {
    background: #3a7bc8;
}

.btn-back {
    padding: 8px 16px;
    background: #888;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #4a90d9;
    color: white;
    padding: 12px;
    text-align: center;
}

td {
    padding: 10px;
    border-bottom: 1px solid #eee;
    text-align: center;
}

tr:nth-child(even) td {
    background: #f9f9f9;
}

.rank-1 {
    color: #f5a623;
    font-weight: bold;
}

.rank-2 {
    color: #9b9b9b;
    font-weight: bold;
}

.rank-3 {
    color: #cd7f32;
    font-weight: bold;
}

.empty-msg {
    text-align: center;
    color: #999;
    padding: 30px;
}



#rankingTable td,
#bottomTable td {
    color: #ffffff !important;
    background-color: #1e1e1e ;
}

#rankingTable tr:nth-child(even) td,
#bottomTable tr:nth-child(even) td {
    background-color: ##1e1e1e !important;
}

#rankingTable tr:hover td,
#bottomTable tr:hover td {
    background-color: ##1e1e1e !important;
}

#rankingTable th {
    background: #4a90d9;
    color: #1e1e1e;
}

#bottomTable th {
    background: #e74c3c;
    color: #1e1e1e;
}