<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Đăng nhập hệ thống Manga</title>
        <link rel="stylesheet" th:href="@{/css/all.css}">
    </head>
    <body>
        <div class="header">
            <div class="logo">SANKYUU</div>
            <a th:href="@{/manga/logout}"><button type="submit">Logout</button></a>
        </div>

        <h1>Chào mừng Tác giả</h1>
        <p>Đây là khu vực làm việc của Mangaka</p>

        /* ui */
        <ul class="topnav">
            <li><a href="#">Home</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
        </ul>
        
        <h1 class="text-primary">Chào mừng Hội đồng Editor</h1>
        <hr>
        <h3 class="text-warning">🗳️ Danh sách dự án đang mở cổng Bình chọn
            (Vote)</h3>
        <table class="table table-bordered table-striped mt-2 shadow-sm">
            <thead class="table-warning">
                <tr>
                    <th>Mã Dự Án</th>
                    <th>Tên Tác Phẩm</th>
                    <th>Đọc Bản Thảo</th>
                    <th>Biểu Quyết</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="p : ${votingProposals}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.seriesName}"></td>
                    <td>
                        <a th:href="@{/manga/view-file(path=${p.filePath})}"
                            target="_blank"
                            class="btn btn-sm btn-info text-white">📄 Xem
                            file</a>
                    </td>
                    <td>
                        <a th:href="@{/manga/editor/approve(id=${p.id})}"
                            class="btn btn-sm btn-success me-1">👍 Chấp
                            Thuận</a>
                        <a th:href="@{/manga/editor/reject(id=${p.id})}"
                            class="btn btn-sm btn-danger">👎 Bác Bỏ</a>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(votingProposals)}">
                    <td colspan="4" class="text-center text-muted py-3">Chưa có
                        dự án mới ở vòng này.</td>
                </tr>
            </tbody>
        </table>
        <br>
        <a th:href="@{/manga/logout}" class="btn btn-danger">Logout</a>
    </body>
</html>