<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>Không gian làm việc (Mangaka)</title>
</head>

<body>
    <h1>Chào mừng Tác giả</h1>
    <p>Đây là khu vực làm việc của Mangaka</p>

    <h2>Trang chủ</h2>
    <button type="submit">Trang chủ</button>
    <button type="submit">Xem ranking</button>
    <button type="submit">Trang chủ</button>
    <button type="submit">Trang chủ</button>
    <button type="submit">Trang chủ</button>

    <h2>Tác phẩm</h2>
    <button type="submit">Thư viện tác phẩm</button> 
    <button type="submit">Tạo tác phẩm mới</button>
    <button type="submit">Chỉnh sửa tác phẩm</button>
    <button type="submit">Chỉnh sửa tác phẩm</button>
    <button type="submit">Xóa tác phẩm</button>
    <button type="submit">Nộp tác phẩm</button>

    <h2>Bản thảo</h2>
    <button type="submit">Tạo bản thảo</button>
    <button type="submit">Nộp bản thảo</button>

    <button type="submit">Thông tin người dùng</button>
    <button type="submit">Đăng xuất</button>

    <br>
    <a th:href="@{/manga/logout}">Logout</a>
</body>

</html>
